<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/attendance.css">

</head>

<body>
  <%- include('../includes/navigation-admin.ejs') %>

  <% for (let name in students) { %>
    <% if (students[name].rollno) { %>
   
        <div class="attendance-card">
          <ul style="list-style-type: none;">
            <h3> Name : <%= name %></h3>
            <li> Roll number : <%= students[name].rollno %></li>
            <li> Attended : <%= students[name].attended %></li>
            <li> Delivered : <%= students.delivered %></li>
            <li> Percentage : <%= students[name].percentage + "%" %></li>
          </ul>
        </div>
      
    <% } %>
  <% } %>

  <% if (Object.keys(students).length === 1) { %>
    <h1>Nothing Yet !!</h1>
  <% } %>
    
</body>
</html>