<nav class="navbar">
  <img src="/images/Logo.png" alt="Campus Sphere">

  <ul class="nav-list">
    <li><a href="/admin" class = " <%= path === '/admin' ? 'active' : '' %> ">Home</a></li>

    <li><a href="/admin/student" class=" <%= path === '/admin/student' ? 'active' : '' %> ">Student Info</a></li>

    <li><a href="/admin/attendance" class=" <%= path === '/admin/attendance' ? 'active' : '' %> ">Attendance</a></li>

    <li><a href="/admin/performance" class=" <%= path === '/admin/performance' ? 'active' : '' %> ">Performance</a></li>

    <li><a href="/admin/contact" class=" <%= path === '/admin/contact' ? 'active' : '' %> ">Contact Us</a></li>

    <div class="auth-buttons">
      <a class="signup" href="/signUp">Sign up</a>
      <span>|</span>
      <%if(user) {%>
        <a class="login" href="/logIn">Logout</a>
       <%} else {%>
         <a class="login" href="/logout">Login</a>
       <%}%>
    </div>

  </ul>
</nav>