<nav class="navbar">
  <img src="/images/Logo.png" alt="Campus Sphere">

  <ul class="nav-list">
    <li><a href="/" class = " <%= path === '/' ? 'active' : '' %> ">Home</a></li>

    <li><a href="/student/<%= user.name %>" class=" <%= path === '/student' ? 'active' : '' %> ">Student Info</a></li>

    <li><a href="/attendance/<%= user.name %>" class=" <%= path === '/attendance' ? 'active' : '' %> ">Attendance</a></li>

    <li><a href="/performance" class=" <%= path === '/performance' ? 'active' : '' %> ">Performance</a></li>

    <li><a href="/contact" class=" <%= path === '/contact' ? 'active' : '' %> ">Contact Us</a></li>

    <div class="auth-buttons">
      <a class="signup" href="/signUp">Sign up</a>
      <span>|</span>
      <%if(user) {%>
       <a class="login" href="/logIn">Logout</a>
      <%} else {%>
        <a class="login" href="/logout">Login</a>
      <%}%>
    </div>

  </ul>
</nav>