<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/info.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <% if (students[user.name]) { %>

    <div class="student-card">
      <h2>Student details</h2>
      <br>
      <p><strong>Name :</strong> <%= students[user.name].fullname %> </p>
      <p><strong>Roll Number :</strong> <%= students[user.name].rollno %> </p>
      <p><strong>Date Of Birth :</strong> <%= students[user.name].dob %> </p>
      <p><strong>Email :</strong> <%= students[user.name].email %> </p>
      <p><strong>Mobile Number :</strong> <%= students[user.name].mobno %></p>
      <p><strong>Gender :</strong> <%= students[user.name].gender %></p>
      <p><strong>Father's Name :</strong> <%= students[user.name].father %></p>
      <p><strong>Mother's Name :</strong> <%= students[user.name].mother %></p>
      <p><strong>Blood Group :</strong> <%= students[user.name].bldgrp %></p>
      <p><strong>City :</strong> <%= students[user.name].city %></p>
      <p><strong>State :</strong> <%= students[user.name].state %></p>
      <p><strong>Country :</strong> <%= students[user.name].nat %></p>
    </div>

  <% } else { %>
    <h1> Register Here !!</h1>
    <a class = "registerBtn" href="/register">
      <button> Register </button> 
    </a>
  <% } %>

</body>
</html>